html{
    background: #2f2e2e;
}
body{
    /*height: 1000px;*/
    overflow-y: auto;
}
.demo-card-square.mdl-card {
  width: 100%;
  height: 580px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  /*background-position: top;*/
  /*background-attachment: fixed;*/
  /*background-repeat: no-repeat;*/
  background-position: center 20% !important;
}
.mdl-card__supporting-text{
    height: 150px;
    overflow-y: auto;
}
.mdl-card__supporting-text{
    width: auto;
}
.mdl-progress{
    height: 20px;
    /*border-radius: 10px;*/
    overflow: hidden;
}
.mdl-progress-container{
    padding: 10px;
}
.progress-text{
    padding-bottom: 5px;
}
.funds-raised{
    color: purple;
    font-size:x-large;
}
.modal{
    width: 450px;
    max-width: 100%;
    max-height: 80%;
    /*overflow-y: auto;*/
    /*position: fixed;*/
}

#formDialog {
    height: 90%;
    padding:10px;
}

@media(max-width:450px){
    .mdl-dialog__content{
        padding: 0px;
    }

    .modal{
        width: 95%;
        max-height: 100%;
        height: 100%;
    }
}

.dialog-open {
    overflow: hidden;
}

#leaderboard {
    text-align: center;
    position: relative;
    width: 100%;
    background: rgba(89, 30, 148, 1);
    color: white;
    /*white-space: nowrap;*/
    /*overflow: auto;*/
    max-height:200px;
    overflow-y:auto;
    padding:10px;
}

#leaderboard > div {
    padding: 10px;
}

#leaderboard-content{
    /*white-space: nowrap;*/
    overflow: auto;
}

#leaderboard-content::-webkit-scrollbar {
    display: none;
}

.leaderboard-item {
    display: inline-block;
    padding: 0 6px 0 6px;
    border-right: 2px solid #D6BB6E;
    margin-top:6px;
}

.leaderboard-item:last-of-type {
    border-right: 0;
}

.waves-effect.waves-deep-purple .waves-ripple {
    background-color: rgba(103, 58, 183, 0.65);
}
.nav {
    background: #2f2e2e;
    /*height: 50px;*/
    width: 100%;
}

.nav-links {
    /*padding:10px;*/
    text-align: center;
    font-family: normal normal 700 17px/1.4em helvetica-w01-light,helvetica-w02-light,sans-serif;
    color: #C6C6C6 !important;
    padding: 10px;
}

.nav-links a {
    color: #C6C6C6;
    font-size: 17px;
    line-height:50px;
    margin: 0 10px;
}

.row {
    margin-bottom:0;
}

.card-panel {
    margin-bottom:0.5rem;
}

.dropdown-content {
    min-width:175px;
}

.purple-button {
    background: #591E94;
    color: white;
    min-width: 200px;
    border-radius: 5px;
    font-size: 16px;
    font-family: normal normal bold 17px/1.4em 'open sans', sans-serif;
    font-style:normal;
    font-weight: bold;
    box-shadow: 1px 1px 4px 0px black;
    padding: 10px;
    margin: 2px 16px;
}

.purple-button:hover {
    background: #781AD6;
}

/*a.button-wrap {
    display: inline-block;
    margin: 6px;
}*/

.button-holder {
    background: #D6BB6E;
    text-align: center;
    padding: 25px;
}

@media(min-width: 993px){
    .row .col.l2 {
        width: 18%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
}

@media(min-width: 993px){
    .row .col.offset-l1 {
        margin-left: 5%;
    }
}

.row .col {
    padding: 0 6px;
    margin: 5px 0;
}

.fnd-all {
    max-width:1200px;
}

a.social-button {
    margin-left: 4px;
    margin-right: 4px;
}

.social-button img {
    width: 39px;
    height: 39px;
}
